In [4]:
import numpy as np
import pandas as pd
from pathlib import Path

Split the data into 4 different csv files 2012, '14, '16, and testing('18)

In [6]:
CigaretteData_df = pd.read_csv('cigaretteData.csv')
CigaretteData_df.head(-1)

,Unnamed: 0,Year,Location,CigaretteSmokingPrevalence,TobaccoSmokingPrevalence,TobaccoUsePrevalance,MostSoldBrandCigaretteCurrency,MostSoldBrandCigarettePrice,rates,MostSoldUSD
0,0,2018,Albania,43.3,50.5,50.5,All,240.0,0.009610,2.306400
1,1,2018,Algeria,11.1,14.5,18.8,DZD,300.0,0.007330,2.199000
2,2,2018,Andorra,27.7,33.8,33.8,EUR,3.6,1.168889,4.208000
3,3,2018,Austria,27.0,29.1,29.1,EUR,5.5,1.168889,6.428890
4,4,2018,Belgium,23.4,25.0,25.0,EUR,6.6,1.168889,7.714667
...,...,...,...,...,...,...,...,...,...,...
684,684,2008,Samoa,28.7,35.6,35.6,WST,7.8,0.390717,3.047593
685,685,2008,Saudi Arabia,2.1,2.9,3.3,SAR,6.0,0.266681,1.600086
686,686,2008,Serbia,38.8,43.6,43.6,RSD,70.0,0.009941,0.695870
687,687,2008,Seychelles,34.1,38.8,39.5,SCR,66.0,0.075113,4.957458
688,688,2008,Sierra Leone,36.6,28.6,28.6,SLL,1600.0,0.000095,0.152000

In [15]:
Test2018 = CigaretteData_df.loc[CigaretteData_df['Year'] == 2018]
Test2018.to_csv('2018_test.csv')

In [17]:
Train2016 = CigaretteData_df.loc[CigaretteData_df['Year'] == 2016]
Train2016.to_csv('2016_train.csv')

In [18]:
Train2014 = CigaretteData_df.loc[CigaretteData_df['Year'] == 2014]
Train2014.to_csv('2014_train.csv')

In [19]:
Train2012 = CigaretteData_df.loc[CigaretteData_df['Year'] == 2012]
Train2012.to_csv('2012_train.csv')